$primary-color: #e6e6e6;
$secondary-color: #ffffff;
$background-color: #000000;
$navbar-bg-color: #060037;
$footer-bg-color: rgb(0, 0, 74);
$font-family-main: 'aespa-font';
$font-size-lg: 30px;
$font-size-md: 23px;
$font-size-hover: 28px;
$header-font-size: 2.5em;
$gallery-img-size: 8cm;
$footer-font-size: 15px;
$gallery-gap: 50px;
$transition-time: 0.3s;
$box-shadow-light: 0 0 10px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 0 20px rgba(0, 0, 0, 0.2);
