// Variables
$image-small: 100px;
$image-medium: 250px;
$image-large: 100%;
$background-color: #0d0d0d;
$primary-color: #e6e6e6;
$navbar-bg: #060037;
$font-main: 'aespa-font';
$shadow-hover: 0 0 20px rgb(255, 0, 0);
