// Colors
$primary-color: #e6e6e6;
$secondary-color: #ffffff;
$background-color: #0d0d0d;
$navbar-bg-color: #060037;
$card-bg-color: #1a1a1a;
$card-border-color: #333;
$btn-primary-color: #c80000;
$btn-primary-hover-color: #0099cc;
$spotify-color: #1DB954;
$footer-bg-color: rgb(0, 0, 74);
$scrollbar-track-color: #000;
$scrollbar-thumb-color: #fff;

// Fonts and Sizes
$font-family-main: 'aespa-font';
$font-size-large: 100px;
$font-size-medium: 30px;
$font-size-small: 23px;
$font-size-xsmall: 18px;
$font-size-header: 2.5em;
$footer-font-size: 15px;

// Dimensions
$card-size: 180px;
$scrollbar-width: 12px;
$footer-padding: 9px;
$footer-margin-top: 3cm;
$teaser-gap: 50px;

// Transitions
$transition-duration: 0.3s;
$transition-ease: ease;