// _variables.scss

$primary-color: #e6e6e6;
$secondary-color: #ffffff;
$background-color: #0d0d0d;
$navbar-bg-color: #060037;
$card-bg-color: #1a1a1a;
$card-border-color: #333;
$btn-primary-color: #c80000;
$btn-primary-hover-color: #0099cc;
$hover-shadow: rgba($secondary-color, 0.5);

$font-family-main: 'aespa-font';
$font-size-large: 100px;
$font-size-medium: 30px;
$font-size-small: 23px;
$font-size-xsmall: 18px;
$font-size-header: 2.5em;

$transition-duration: 0.3s;
$transition-ease: ease-in-out;
$card-size: 290px;
