$primary-color: #e6e6e6;
$secondary-color: #ffffff;
$background-color: #000000;
$navbar-bg-color: #060037;
$font-family-main: 'aespa-font';
$transition-time: 0.3s;
$hover-text-shadow: rgba($secondary-color, 0.5) 4px 4px 6px;
$font-size-lg: 30px;
$font-size-md: 23px;
$font-size-hover: 28px;
$album-width: 250px;
$album-margin: 50px;
$iframe-height: 500px;
$btn-background-color: #600000;